---
import Layout from '../../layouts/Layout.astro';
import { getPosts } from '../../lib/hygraph';
import BlogPost from '../../components/BlogPost.astro';

export async function getStaticPaths() {
  const posts = await getPosts();
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
---

<Layout title={post.postTitle}>
  <main>
    <BlogPost post={post} />
  </main>
</Layout>
