---
import Layout from '../layouts/Layout.astro';
import { getPosts } from '../lib/hygraph';
import BlogPost from '../components/BlogPost.astro';

const posts = await getPosts();
---

<Layout title="Married to a Berry">
	<main>
		{
			posts.map((post) => (
				<a href={`/blog/${post.slug}`}>
					<BlogPost post={post} />
				</a>
			))
		}
	</main>
</Layout>

<style>
  main {
    max-width: 800px;
    margin: 2rem auto;
    padding: 0 1rem;
  }
</style>

