---
import Layout from '../layouts/Layout.astro';
import { getPosts } from '../lib/hygraph';
import BlogPost from '../components/BlogPost.astro';

const posts = await getPosts();
---

<Layout title="Married to a Berry">
	<main>
		<h1>Married to a Berry</h1>
		{
			posts.map((post) => (
				<BlogPost post={post} />
			))
		}
	</main>
</Layout>
