---
import Layout from '../layouts/Layout.astro';
import { getPosts } from '../lib/hygraph';
import BlogPostCard from '../components/BlogPostCard.astro';

const posts = await getPosts();
---

<Layout title="Married to a Berry">
	<main>
		{
			posts.map((post) => (
				<a href={`/blog/${post.slug}`}>
					<BlogPostCard post={post} />
				</a>
			))
		}
	</main>
</Layout>



