---
import ThemeSwitcher from './ThemeSwitcher.astro';
import '../styles/Nav.css';
---
<nav>
    <div class="container">
        <a href="/" class="title">Married to a Berry</a>
        <ul>
            <li><a href="https://theolexica.com" target="_blank">Theolexica</a></li>
            <li><a href="/testimony">Testimony</a></li>
            <li><ThemeSwitcher /></li>
        </ul>
    </div>
</nav>
