---
import ThemeSwitcher from './ThemeSwitcher.astro';
import '../styles/Nav.css';

export interface Props {
    isHomepage?: boolean;
}

const { isHomepage } = Astro.props;
---
<nav>
    <div class="container">
        {isHomepage ? (
            <h1 class="title">Married to a Berry</h1>
        ) : (
            <a href="/" class="title">Married to a Berry</a>
        )}
        <ul>
            <li><a href="https://theolexica.com" target="_blank">Theolexica</a></li>
            <li><a href="/testimony">Testimony</a></li>
            <li><ThemeSwitcher /></li>
        </ul>
    </div>
</nav>
